@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* COLOURS */
:root {
  --primary-color: #413eeb;
  --secondary-color: #d376da;
  --primary-gradient: linear-gradient(
    to right,
    var(--primary-color) 8%,
    var(--secondary-color)
  );
}

/* HEADINGS */
.heading-primary {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #5e3eeb;
}

.heading-secondary {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #2b1057;
}

/* TEXTS */

.primary-text {
  color: var(--primary-color) !important;
}

.secondary-text {
  color: var(--secondary-color) !important;
}

.heading-text {
  color: #2b1057 !important;
}

.paragraph-text {
  color: #747474 !important;
}

.paragraph-sm-text {
  color: #a4a4a4 !important;
}

/* FONT */
.heading-md {
  font-size: 18px !important;
}
.paragraph {
  font-size: 16px !important;
}
.paragraph-sm {
  font-size: 14px !important;
}

/* BACKGROUND */
.bg-light_grey {
  background-color: #dddddd !important;
}

/* BOOTSTRAP CSS */
.rounded-sm {
  border-radius: 0.25rem !important;
}
.rounded-md {
  border-radius: 10px !important;
}
.overflow-hidden {
  overflow: hidden !important;
}
.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.flex-fill {
  flex: 1 !important;
}
